@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
  font-weight: 400;

  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  color: #20325a;
}
/*=========NAVIGASI BAR=========*/

header {
  display: inline;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo img {
  display: flex;
  width: 80px;
}

.navbar {
  position: fixed;
  display: flex;
  text-align: center;
  top: 0;
  height: 60px;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.185) 0px 7px 20px 0px;
  position: sticky;
  z-index: 1;
}

nav ul {
  display: flex;
  list-style: none;
  width: 30%;
  justify-content: space-around;
  align-items: center;
}
nav li a {
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #20325a;
}
nav a:hover {
  font-weight: 500;
  color: #20325a;
}
nav ul li:active {
  font-weight: bolder;
}

nav ul li:hover::after {
  width: 100%;
}

.btn-contact a,
.btn-login a {
  margin: auto;
  text-decoration: none;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}
/* .btn-login a:hover */
.btn-contact a:hover {
  font-weight: bold;
  color: #ffffff;
}

button {
  display: flex;
  border: none;
  align-content: center;
  background: #ef4b4c;
  color: #ffffff;
  text-align: center;
  /* font-size: 13.8px; */
  border-radius: 100px;
  height: 30px;
  width: 100px;
  font-weight: bold;
  /* font-size: 15px; */
  transition: 0.4s;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
  font-weight: bolder;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #ffc300;
  border-radius: 3px;
  cursor: pointer;
}

.jumbotron {
  display: flex;
  justify-content: center;
  /* padding: 60px; */
  background-image: url(img/jumbotron.png);
  background-size: cover;
  background-position: center;
  width: auto;
  height: 400px;
  background-color: #00c8eb;
  text-align: center;
  font-size: 20px;
  color: white;
}

.jumbotron h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px;
}

/* =======MAIN======== */
main {
  width: auto;
}

.home {
  /* background-color: #ed0226; */
  display: flex;
  flex-direction: column;
  width: auto;
  margin: auto;
}
.home h1 {
  font-size: 30px;
  align-items: center;
  width: fit-content;
  /* text-align: center; */
  border-left: 10px solid #ef4b4c;
  background-color: #00000024;
  margin: 80px 0 0 100px;
  padding: 5px 15px;
  color: #20325a;
  /* text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.4); */
}

.content-home {
  background-size: cover;
  background-position: top;
  background-position: right;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  margin: 0 100px;
}
.col-1 {
  display: flex;
  width: 40%;
  flex-direction: column;
  /* padding-right: 30px; */
  justify-content: center;
}
.col-2 {
  /* display: flex; */
  width: 70%;
  flex-direction: column;
  /* padding-left: 30px; */
}

.col-2 p {
  text-align: justify;
  margin: auto;
  width: 90%;
  line-height: 30px;
  color: #000000;
}

.fig-about {
  /* margin: 60px 0 85px 0; */
  justify-content: center;
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
}

.home .col-2 h1 {
  /* font-size: 70px; */
  width: auto;
  font-size: 40px;
  padding: 0;
  margin: 30px 0;
  /* line-height: 100%; */
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000000;
  border-left: 0;
  background-color: #00000000;
}

.content-home h3 {
  text-align: center;
  width: 60%;
  padding: 30px 0 50px 0;
  margin: auto;
}

/* ====PROFILE=== */

.profile {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: auto;
  height: auto;
  /* justify-content: center; */
  /* background-color: #ffc300; */
  background-color: #ffffff;
  border-top: #000000;
  border: 10px;
}
.profile h1 {
  font-size: 30px;
  align-items: center;
  width: fit-content;
  /* text-align: center; */
  border-left: 10px solid #ef4b4c;
  background-color: #00000024;
  margin: 80px 0 0 100px;
  padding: 5px 15px;
  color: #20325a;
  /* text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.4); */
}
.content-profile {
  padding: 20px 0 50px 0;
  margin: 0 100px;
  /* margin: auto;
  margin: 50px 0 70px 0; */
  width: auto;
  height: auto;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  /* justify-content: center; */
}

.content-profile table {
  /* margin: 260px; */
  margin-left: 20px;
  font-size: 18px;
  color: #000000;
  font-weight: 400;
  line-height: 30px;
}
.profile-row2 {
  padding-right: 30px;
}
.profile-row1 {
  display: flex;
  justify-content: center;
  padding-left: 30px;
}

.fig-profile {
  justify-content: center;
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
}
/* =====SERVICE==== */

.service {
  display: flex;
  flex-direction: column;
  width: auto;
  max-height: 100%;
  margin: auto;
  background-image: url("./img/login\ bg.png");

  background-size: cover;
  background-position: right;
  width: auto;
}

.content-service {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

/* ===SERVICE===== */
.container {
  max-width: 400px;
  top: 50%;
  left: 50%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
::selection {
  background: #3d619b;
  color: #fff;
}
.wrapper {
  width: 380px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.1);
}
.wrapper .title {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  line-height: 80px;
  color: #fff;
  user-select: none;
  border-radius: 10px 10px 0 0;
  background-color: #ef4b4c;
}
.wrapper form {
  padding: 10px 30px 10px 30px;
}

.wrapper form .field {
  height: 40px;
  width: 100%;
  margin-top: 15px;
  position: relative;
}
.wrapper form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.wrapper form .field input:focus,
form .field input:valid {
  border-color: #3d619b;
}
.wrapper form .field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 18px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label {
  top: 0%;
  font-size: 16px;
  color: #3d619b;
  background: #fff;
  transform: translateY(-50%);
}
form .content {
  display: flex;
  width: 100%;
  height: 40px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}
form .content .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
form .content input {
  width: 15px;
  height: 15px;
  background: #3d619b;
}
form .content label {
  color: #262626;
  user-select: none;
  padding-left: 5px;
}
form .content .pass-link {
  color: "";
}
form .field input[type="submit"] {
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  background: #3d619b;
  transition: all 0.3s ease;
}
form .field input[type="submit"]:active {
  transform: scale(0.9);
}
form .signup-link {
  color: #262626;
  margin-top: 20px;
  text-align: center;
}
form .pass-link a,
form .signup-link a {
  color: #3d619b;
  text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover {
  text-decoration: underline;
}

.search {
  padding: 10px 0 20px 0;
}

/* ====FOOTER==== */
footer {
  padding: 20px;
  color: #20325a;
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

/* ====RESPONSIVE==== */

/* MONITOR */
/* LAPTOP */
@media all and (max-width: 1024px) {
  nav ul {
    width: 35%;
  }
}
/* TABLET */
@media all and (max-width: 820px) {
}

@media all and (max-width: 576px) {
  .menu-toggle {
    display: flex;
    z-index: 1;
    top: 15px;
  }

  .active {
    display: block;
  }
  .navbar {
    justify-content: space-between;
    padding: 0 30px;
  }

  nav ul {
    display: none;
    margin: 50px 0;
    background-color: #082f53;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 206px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }

  nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-top: 1px solid #ffffff;
  }

  nav a:active,
  nav a:hover {
    font-weight: 600;
    color: #ffc300;
  }
}
